//ーーーーーーーーーーーーーーーーーー
// コンセプト
//ーーーーーーーーーーーーーーーーーー
.concept{
  height: 30px;
  line-height: 30px;
  padding-left: 15%;
  font-size: 16px;
  background: #FFFFF0;
  @include mq() {
    display: none;
    height: 20px;
    line-height: 20px;
    padding-left: 5%;
    font-size: 12px;
  }
  @include dq() {
    padding-left: 5%;
  }
}

//ーーーーーーーーーーーーーーーーーー
// ハンバーガーメニュー
//ーーーーーーーーーーーーーーーーーー
.menu-trigger{
  display: none;
  @include mq() {
    display: inline-block;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 4px;
    &:nth-of-type(1){
      top: 0;
    }
    &:nth-of-type(2){
      top: 14px;
    }
    &:nth-of-type(3){
      bottom: 0;
    }
  }
  &.active span{
    &:nth-of-type(1){
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2){
      opacity: 0;
    }
    &:nth-of-type(3){
      transform: translateY(-15px) rotate(45deg);
    }
  }
}

//ーーーーーーーーーーーーーーーーーー
// ボタン
//ーーーーーーーーーーーーーーーーーー
.btn{
  padding: 15px 20px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &-primary{
    background: green;
    color: white;
  }
  &-mid{
    max-width: 150px;
    float: right;
  }
  &-cv:hover{
    cursor: pointer;
    background: #b2d142;
    transition: all 1s;
    transform: translateY(-1px);
  }
}

//ーーーーーーーーーーーーーーーーーー
// フォーム（大枠）
//ーーーーーーーーーーーーーーーーーー
.form-btn-container{
  margin: 0 auto;
  width: 500px;
  @include mq(){
    width: 90%;
  }
  @include dq() {
    width: 80%;
  }
}

.page-1colum .form-container{
  width: 500px;
  margin: 80px auto;
  @include mq(){
    margin: 40px auto;
    width: 100%;
  }
  @include dq(){
    margin: 60px auto;
  }
  &-detail{
    width: 100%;
  }  
}

.form{
  margin: 0 auto;
  padding: 30px;
  border: 5px solid #f1f1f1;
  .title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }
  p{
    line-height: 1.5;
    @include dq() {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  .area-msg{
    padding: 0 0 15px 0;
    color: red;
  }
  .label-require{
    margin-left: 5px;
    background: #fe8a8b;
    font-size: 14px;
    padding: 2px 5px;
    color: white;
  }
  &-prof{
    width: 400px;
    @include mq() {
      width: auto;
    }
  }
  &-regist{
    width: 100%;
    box-sizing: border-box;
  }
}

label{
  display: block;
  &.err{
    input{
      background: #eeeeee;
    }
    select{
      background: #eeeeee;
    }
  }
}

.page-logined .form{
  border: none;
}

//ーーーーーーーーーーーーーーーーーー
// フォーム（パーツ）
//ーーーーーーーーーーーーーーーーーー
.form{
  .btn-container{
    overflow: hidden;
    .btn{
      float: right;
    }
    .counter-text{
      text-align: right;
    }
    &-prof{
      margin-top: 30px;
      @include dq() {
        margin-top: 20px;
      }
      @include mq() {
        margin-top: 30px;
      }
    }
  }
  a{
    color: black;
  }
  .counter-text{
    text-align: right;
  }
}

//ーーーーーーーーーーーーーーーーーー
// フォーム（画像アップロード）
//ーーーーーーーーーーーーーーーーーー
.form{
  .imgDrop-container{
    width: calc(100% / 3);
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
    @include mq() {
      width: 100%;
      float: none;
      padding-right: 0;
    }
  }
  .area-top{
    font-size: 12px;
    margin-top: 5px;
  }
  .area-drop{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    height: 250px;
    line-height: 250px;
    background: $color_sub;
    color: #ccc;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    &-prof{
      height: 370px;
      line-height: 370px;
      @include mq() {
        height: 300px;
        line-height: 300px;        
      }
    }
    &-regist{
      height: 200px;
      @include dq() {
        height: 150px;
      }
      @include mq() {
        height: 344px;
      }
    }
  }
  .input-file{
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .prev-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//ーーーーーーーーーーーーーーーーーー
// リスト（パネル）
//ーーーーーーーーーーーーーーーーーー
.panel-list{
  overflow: hidden;
  & > .panel{
    float: left;
    box-sizing: border-box;
    padding: 5px;
    min-height: 490px;
    width: calc(100% / 3);
    line-height: 1.2em;
    img{
      width: 100%;
    }
    & .panel-title{
      margin: 10px;
      color: black;
    }
    @include dq(){
      min-height: 440px;
      margin-bottom: 0;
    }
    @include mq() {
      width: 90%;
      margin-left: 5%;
      min-height: 0;
      display: flex;
      flex-wrap: wrap;
    }    
  }
  .title{
    padding-bottom: 0;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.list{
  & > .title{
    padding-left: 10px;
    border-left: 6px solid #b6a489;
  }
}

.panel > .panel-body{
  text-align: center;
  font-size: 16px;
  background: white;
  @include mq(){
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }  
  .price{
    @include mq() {
      margin: 10px;
    }
  }
}

//ーーーーーーーーーーーーーーーーーー
// リスト（テーブル）
//ーーーーーーーーーーーーーーーーーー
.list-table{
  margin-top: 40px;
  margin-bottom: 80px;
  .title{
    font-weight: bold;
  }
  & > table{
    margin-top: 20px;
    width: 100%;
  }
  th, td{
    padding: 10px 40px 10px 40px;
    
  }
  th{
    text-align: center;
    font-weight: bold;
  }
  & > .table{
    & > tbody tr{
      background: $color_sub;
      & td{
        padding: 15px;
        a{
          color: #b6a489;
        }
      }
    }
  }
}