//ーーーーーーーーーーーーーーーーーー
// ヘッダー
//ーーーーーーーーーーーーーーーーーー
.header{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background: $color_main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  transition: .3s;
  z-index: 2;
  &.float-active{
    transition: .3s;
    background: rgba(255,255,255,0.9);
  }
  @include mq() {
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
  }
  @include dq() {
    padding-left: 5%;
    padding-right: 5%;
  }
  &-title{
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    &-link{
      color: black;
      text-decoration: none;
    }
  }
}

//ーーーーーーーーーーーーーーーーーー
// グローバルメニュー
//ーーーーーーーーーーーーーーーーーー
.nav{
  @include mq() {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255,255,255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .3s;
  }
  &.active{
    @include mq() {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.nav-menu{
  display: flex;
  align-content: center;
  font-size: 18px;
  &-item{
  }
  &-link{
    -webkit-font-smoothing: initial;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    @include dq() {
      font-size: 14px;
      padding-right: 12px;
      &:last-child{
        padding-right: 0;
      }
    }
  }
  @include mq() {
    margin-top: 60px;
    display: block;
    font-size: 30px;
    &-item{
      padding: 15px;
    }
    &-link{
      font-size: 20px;
      text-align: center;
      display: block;
      color: black;
    }
  }  
}

main{
  @include mq(){
    position: absolute;
    top: 100px;
    margin-bottom: 50px;
    display: block;
  }
}

.main{
  overflow: hidden;
  margin: 0 auto;
  width: 980px;
  padding-bottom: 40px;
  @include mq(){
    width: 100%;
    margin-bottom: 20px;
  }
  @include dq(){
    width: 100%;
  }
}

//ーーーーーーーーーーーーーーーーーー
// メインコンテンツ
//ーーーーーーーーーーーーーーーーーー
#main{
  float: left;
  .title{
    font-size: 28px;
    padding-bottom: 20px;
    @include dq() {
      font-size: 32px;
    }
  }
}

.page-1colum #main{
  width: 100%;
}

.page-2colum #main{
  width: 760px;
  min-height: 600px;
  @include dq(){
    width: 560px;
    margin-left: 12px;
  }
  @include mq() {
    width: 100%;
  }
}

.page-title{
  text-align: center;
  margin: 36px auto;
  font-size: 32px;
  font-weight: bold;
}

.page-logined #main{
  border: 5px solid #f1f1f1;
  box-sizing: border-box;
}

//ーーーーーーーーーーーーーーーーーー
// サイドバー（大枠）
//ーーーーーーーーーーーーーーーーーー
#sidebar{
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  min-height: 600px;
  width: 200px;
  background: $color_sub;
  img{
    height: 200px;
  }
  @include dq(){
    width: 160px;
    img{
      height: 160px;
      width: 100%;
    }
  }
  @include mq() {
    min-height: 500px;
  }
}

.page-logined #sidebar{
  margin: 0 0 0 20px;
  @include dq() {
    margin: 0 0 0 12px;
  }
  @include mq() {
    margin: 40px;
    margin-left: 25%;
  }
  & > a{
    display: block;
    padding: 15px 10px;
    color: black;
    text-decoration: none;
    @include dq(){
      font-size: 14px;
    }
  }
}

.sidebar-prof-img{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

//ーーーーーーーーーーーーーーーーーー
// footer
//ーーーーーーーーーーーーーーーーーー
.footer{
  background: $color_main;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  @include mq() {
    font-size: 14px;
  }
  &-link{
    color: white;
    text-decoration: none;
  }
}